@import 'nib'
@import 'normalize'

amarillo = #ffd114
// fondo    = #000000
fondo    = #23252a

*
  box-sizing border-box

.off
  display none

body
  background fondo
  color white
  font-family 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
  margin 0
  text-align center
  
h2
  &.presentaciones
    &:before
      content url(https://png.icons8.com/ios/40/ffffff/microphone-filled.png)
  &.bg
    &:before
      display inline-block
      margin 0 .5rem 0 0
      vertical-align middle

.seccion
  margin 0 auto
  max-width 1170px
  min-height 50vh
  overflow hidden
  padding 0 1rem
  // &.presentaciones
    // background fondo url(http://francoescamillaoficial.com/assets/img/backgrounds/bg-4.jpg) no-repeat fixed center center
  p
    font-size 18px
    line-height 1.5
    opacity .85

@keyframes bg
  0%
    background-position 0 0
  50%
    background-position 100% 100%
  100%
    background-position 0 0

.menu
  background rgba(black,.85)
  height 100vh
  left 0
  position fixed
  top 0
  transition visibility 0s linear .85s
  visibility hidden
  width 100vw
  
  // &:hover
  &.show
    visibility visible
    transition visibility 0s linear 0s
    
    .contenedorAreaDerecha
      opacity 1
      
    .contenedorIconoMenu
      height 100px
      width 100px

      .iconoMenu
        opacity 1

        .linea
          height calc(50vh - 3rem)
          opacity 1

        .punto
          transition transform .2s linear 0s

          &.superior
            transform translate(-50%, calc(-50% - 20px))

          &.inferior
            transform translate(-50%, calc(50% + 10px))
    
    nav
      ul
        li
          opacity 1
          transform translateY(0)

  .capa
    height 100vh
    position relative
    width 100vw
    
    &:before
      animation bg 120s linear infinite
      background url(http://francoescamillaoficial.com/assets/img/backgrounds/bg-4.jpg) no-repeat center center
      background-size 150%
      content ''
      height 100%
      left 0
      opacity .1
      position absolute
      top 0
      width 100%

  .contenedorIconoMenu
      height 50px
      left 50%
      position absolute
      top 50%
      transform translate(-50%, -50%)
      transition height .25s ease-in-out, width .25s ease-in-out
      width 50px
  
    .iconoMenu
      border 2px solid white
      border-radius 50%
      height 100%
      opacity 0
      transition opacity .15s linear
      width 100%
    
      .punto
        background white
        border-radius 50%
        height 10px
        left 50%
        position absolute
        top 50%
        transform translate(-50%, -50%)
        transition transform .2s linear .2s
        width 10px
        
        &.superior  
          transform translate(-50%, 0)
          
        &.centro
          transform translate(-50%, -50%)
          
        &.inferior
          transform translate(-50%, 0)
      
      .linea
        background white
        bottom 50%
        height calc(1vh)
        left 50%
        opacity 0
        position absolute
        transform translate(-50%, -20px)
        transition height .5s cubic-bezier(.54, .66, .1, .99) .2s, opacity 0s linear .2s
        width 3px
        
        &.superior
          border-radius 100% 0 0 0
          bottom 50%
          transform translate(-50%, -20px)
          
        &.inferior
          border-radius 0 0 100%
          top 50%
          transform translate(-50%, 20px)
    
    nav
      color white
      font-size 1.75rem
      left calc(50% + 66px)
      position absolute
      text-align left
      top 50%
      transform translate(0, -50%)

      ul
        list-style none
        margin 0
        padding 0

        li
          opacity 0
          transform translateY(100%)
          transition-property opacity, transform
          transition-duration .25s, .5s
          transition-timing-function linear, cubic-bezier(0.09, 0.49, 0.28, 1.13)

          &:nth-child(1)
            transition-delay 0s
            
          &:nth-child(2)
            transition-delay .1s
            
          &:nth-child(3)
            transition-delay .15s
            
          &:nth-child(4)
            transition-delay .20s
            
          &:nth-child(5)
            transition-delay .25s
            
          &:nth-child(6)
            transition-delay .30s
            
          &:nth-child(7)
            transition-delay .35s

          a
            color inherit
            display block
            margin 0 0 0 3rem
            padding 0 0 0 3.25rem
            position relative
            text-decoration none
            text-transform uppercase
            
            &:hover
              color #fbda00
              
            &:hover:before
              opacity 1
              animation-duration .5s
              animation-iteration-count 1
              animation-name bg-explotion
              animation-timing-function step-end
              
            &:before
              background-image url(tmp/bg-a-0.png)
              background-position 0 calc(100% * 0)
              background-repeat none
              background-size 100% auto
              content ''
              display block
              height 150px
              left 6%
              opacity 0
              position absolute
              top 50%
              transform translate(-50%,-50%)
              width 150px
              z-index -1
          
            img
              left 0
              position absolute
              
        li:not(:last-child)
          margin 0 0 4rem 0

    .contenedorAreaDerecha
      opacity 0
      padding 0
      position absolute
      right calc(50% + 66px)
      top 50%
      transform translate(0, -50%)
      transition opacity .3s ease-in-out
      width calc(50% - 104px)
      
      .item
        align-items center
        display flex
        justify-content center
        position relative
        
        .capaItem
          left 0
          position absolute
          top 0
          
          &.centrar
            left 50%
            top 50%
            transform translate(-50%, -50%)

      img
        width 100%
        

// Ajustes de carusel principal
.contenedorAreaDerecha
  &:hover
    .owl-dots
      opacity 1
  
  .owl-theme
    .owl-dots
      .owl-dot
        position relative

        &.active
          span
            background amarillo

        &:hover
          span:after
          span:before
            transform scale(1)

        span
          &:before
          &:after
            content ''
            height 100%
            left 0
            position absolute
            transform scale(0)
            transition transform .25s cubic-bezier(0.42, 0, 0.32, 1.49)
            width 24px
            z-index -1

          &:after
            background url(bg-span.png) no-repeat top !important
            top 0
          
          &:before
            background url(bg-span1.png) no-repeat top !important
            top 8px
    
  .owl-dots
    opacity 0
    transition opacity .3s ease-in-out .5s
    


// Ajustes de efecto prallax BORRADOR

.layerP
  position absolute
  top 0
  right 0
  display none

.layerP.layer1
  display block
  top -81px
  right 0

.layerP.layer2
  display block
  top 22%
  width 63%

.layerP.layer3
  display block
  width 24%
  top 24%

.layerP.layer4
  display block
  width 33%
  top 16%
  right 48%

#scene
  width 100%
  height 100%


@keyframes bg-explotion
  0%
  3.703703704%
    background-position: 0 calc(100% * -1)
  7.407407407%
    background-position: 0 calc(100% * -2)
  11.11111111%
    background-position: 0 calc(100% * -3)
  14.81481481%
    background-position: 0 calc(100% * -4)
  18.51851852%
    background-position: 0 calc(100% * -5)
  22.22222222%
    background-position: 0 calc(100% * -6)
  25.92592593%
    background-position: 0 calc(100% * -7)
  29.62962963%
    background-position: 0 calc(100% * -8)
  33.33333333%
    background-position: 0 calc(100% * -9)
  37.03703704%
    background-position: 0 calc(100% * -10)
  40.74074074%
    background-position: 0 calc(100% * -11)
  44.44444444%
    background-position: 0 calc(100% * -12)
  48.14814815%
    background-position: 0 calc(100% * -13)
  51.85185185%
    background-position: 0 calc(100% * -14)
  55.55555556%
    background-position: 0 calc(100% * -15)
  59.25925926%
    background-position: 0 calc(100% * -16)
  62.96296296%
    background-position: 0 calc(100% * -17)
  66.66666667%
    background-position: 0 calc(100% * -18)
  70.37037037%
    background-position: 0 calc(100% * -19)
  74.07407407%
    background-position: 0 calc(100% * -20)
  77.77777778%
    background-position: 0 calc(100% * -21)
  81.48148148%
    background-position: 0 calc(100% * -22)
  85.18518519%
    background-position: 0 calc(100% * -23)
  88.88888889%
    background-position: 0 calc(100% * -24)
  92.59259259%
    background-position: 0 calc(100% * -25)
  96.2962963%
    background-position: 0 calc(100% * -26)
  100%
    background-position: 0 calc(100% * -27)