doctype html
html#html(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')

    meta(content='Franco Escamilla | Sitio Oficial' property='og:title')
    meta(content='Franco Escamilla, comediante, cantante, locutor, experto en nada y crítico de todo. Contrataciones en francoescamillainfo@gmail.com y francoescamillacontratos@gmail.com' property='og:description')
    meta(name="keywords" content="comedia, comediante, franco, franco escamilla, diablosquad, diablo squad, presentaciones, mesa reñoña, radio, radio squad, squad, sarcasmo")
    meta(name="author" content="etxu00")
    meta(content='http://francoescamillaoficial.com/assets/img/redes.jpg' property='og:image')

    title Franco Escamilla - Sitio Oficial
    link(rel="stylesheet", href="index.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:800")
  body
    #menu.menu
      .capa
        .contenedorIconoMenu
          .iconoMenu
            .punto.superior
            .punto.centro
            .punto.inferior
            .linea.superior
            .linea.inferior
        nav
          ul
            li
              a(href="#")
                img(src="https://png.icons8.com/ios-glyphs/40/ffffff/rocket.png")
                span INICIO
            li
              a(href="#")
                img(src="https://png.icons8.com/ios/40/ffffff/radio-filled.png")
                span RADIO
            li
              a(href="#")
                img(src="https://png.icons8.com/ios/40/ffffff/microphone-filled.png")
                span PRESENTACIONES
            li
              a(href="#")
                img(src="https://png.icons8.com/android/40/ffffff/conference.png")
                span DIABLO SQUAD
            li
              a(href="#")
                img(src="https://png.icons8.com/ios/40/ffffff/billboard-filled.png")
                span ANÚNCIATE
        .descripcionSecciones
          img(src="http://francoescamillaoficial.com/assets/img/diablo-squad.png", alt="Franco escamilla y la diablo squad")