doctype html
html#html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width")

    meta(content="Franco Escamilla | Sitio Oficial" property="og:title")
    meta(content="Franco Escamilla, comediante, cantante, locutor, experto en nada y crítico de todo. Contrataciones en francoescamillainfo@gmail.com y francoescamillacontratos@gmail.com" property="og:description")
    meta(name="keywords" content="comedia, comediante, franco, franco escamilla, diablosquad, diablo squad, presentaciones, mesa reñoña, radio, radio squad, squad, sarcasmo")
    meta(name="author" content="etxu00")
    meta(content='http://francoescamillaoficial.com/assets/img/redes.jpg' property='og:image')

    title Franco Escamilla - Sitio Oficial
    link(rel="stylesheet", href="index.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:800")
    link(rel="stylesheet", href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css")
    link(rel="stylesheet", href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css")
  body
    #menu.menu
      .capa
        .contenedorIconoMenu
          .iconoMenu
            .punto.superior
            .punto.centro
            .punto.inferior
            .linea.superior
            .linea.inferior
        nav
          ul
            li
              a(href="#")
                img(src="https://png.icons8.com/ios-glyphs/40/ffffff/rocket.png")
                span INICIO
            li
              a(href="#")
                img(src="https://png.icons8.com/ios/40/ffffff/radio-filled.png")
                span RADIO
            li
              a(href="#")
                img(src="https://png.icons8.com/ios/40/ffffff/microphone-filled.png")
                span PRESENTACIONES
            li
              a(href="#")
                img(src="https://png.icons8.com/android/40/ffffff/conference.png")
                span DIABLO SQUAD
            li
              a(href="#")
                img(src="https://png.icons8.com/ios/40/ffffff/billboard-filled.png")
                span ANÚNCIATE
            li
              a(href="#")
                img(src="https://png.icons8.com/material/40/ffffff/shopping-cart.png")
                span Tienda
            li
              a(href="#")
                img(src="https://png.icons8.com/metro/40/ffffff/share.png")
                span Redes sociales
        .contenedorAreaDerecha
          .owl-carousel.owl-theme
            .item
              img(src="http://francoescamillaoficial.com/assets/img/diablo-squad.png", alt="Franco escamilla y la diablo squad")
            .item
              img(src="http://francoescamillaoficial.com/assets/img/slides/slide-1.jpg")
              .capaItem.centrar
                img(src="http://francoescamillaoficial.com/assets/img/intro.png")
            .item
              h4 3
            .item
              h4 4
            .item
              h4 5
    script(src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js")
    script(src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.min.js")
    script.
      $('.owl-carousel').owlCarousel({
        loop               : true,
        items              : 1,
        //- autoplay           : true,
        autoplayTimeout    : 2000,
        autoplayHoverPause : true
      })